
.title{
    color: #009670;
    font-weight: bold;
    text-align: center;
}
.label{
    color: #009670;
    margin: 3%;
    text-align: start;
}
.item{
    color: #009670;
    margin: 2%;
    text-align: center;
}
.input{
    border-style: solid;
    border-color: #009670;
    border-width: 5px;
}
.icon{
    color: #009670;
}
.table{
    margin: 5%;
    border-style: solid;
    border-color: #009670;
    border-width: 3px;
}
.img{
    width: 24px;
    height: 24px;
}